.el-header {
  background-color: #5ca6e2;
}

#system_title {
  color: white;
  text-align: center;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-table .error-row {
  background: #12d9f3;
}

#footer {
  text-align: center;
}

.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.el-tooltip__popper {
  width: 80%;/*修改宽度*/
  background: #000 !important;/*背景色  !important优先级*/
  opacity: 0.5 !important;/*背景色透明度*/
  color: #FFFFFF !important;/*字体颜色*/
  }

.el-table .el-table__body-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.el-table .el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
  overflow-x: hidden;
  display: block;
}

.el-table--scrollable-y .el-table__body-wrapper {
  overflow-y: hidden;
}
.el-table--scrollable-y .el-table__body-wrapper:hover {
  overflow-y: auto;
}